<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist</title>

    <link rel="stylesheet" href="/css/Home.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <style>
    body {
      background-color: #4b4e51;
    }

    h2 {
      color: orangered;
    }
  </style>
  <body>
    <!--NavBar-->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">
          <img
            src="/img/logo/amelia_logo.png"
            width="120px"
            height="80px"
            class="d-inline-block align-top"
            alt="logo"
            loading="lazy"
          />
        </a>

        <div class="right">
          <a class="nav-link" href="home">Home</a>
          <a class="nav-link" href="artist">Artist</a>
          <a class="nav-link" href="gallery">Gallary</a>
          <a class="nav-link" href="store">Store</a>
        </div>
      </div>
    </nav>
    <!--End NavBar-->

    <!-- Artist -->
    <div class="col-12"><br /></div>
    <header>
      <h1>ARTIST</h1>
    </header>
    <div class="col-12"><br /></div>

    <div class="container">
      <!-- Artist 1 -->
      <div class="row">
        <div class="col-sm-5 text-center" style="text-align: center">
          <img
            src="/img/cae78ab364eec014ac10198a1eac5e6ae_30773184_201213.jpg"
            width="300"
            height="300"
            alt=""
            class="rounded-circle"
          />
        </div>
        <div class="col-sm-7 my-auto" style="text-align: start">
          <h2>PEVKPEVK</h2>
          <p style="font-size: 20px; color: #b0b8c9">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; พีคเป็นแรพเปอเด็กหนุมที่เริ่มแรพตั้งแต่อายุ 17 เขามีแพชชั่นในเรื่องการแรพเป็นอย่างมากและฝึกฝนมาโดยตลอด
            แต่สิ่งที่เขาทำยังไม่ดีพอทำให้ถูกคนในสังคมดูถูกเขา จึงเป็นที่มาให้เขาเขียนเพลง loser 
          </p>
          <br />
          <p style="font-size: 24px; text-align: center; color: #4b7ce5">
            "ท้อได้แต่ห้ามหยุด"
          </p>

          <!-- artist-social -->
          <div class="artist-social" style="text-align: right">
            <a href="#">
              <img
                src="/img/icon/facebook.png"
                alt=""
                width="20px"
                height="20px"
              /> </a
            >&nbsp;&nbsp;

            <a href="#">
              <img
                src="/img/icon/twitter.png"
                alt=""
                width="20px"
                height="20px"
              /> </a
            >&nbsp;&nbsp;

            <a href="#">
              <img
                src="/img/icon/instagram.png"
                alt=""
                width="20px"
                height="20px"
              />
            </a>
          </div>
          <!-- end artist-social -->
        </div>
      </div>
      <div class="col-12"><br /><br /><br /></div>

      <!-- Artist 2 -->
      <div class="row">
        <div class="col-sm-7 my-auto" style="text-align: end">
          <h2>Trader</h2>
          <p style="font-size: 20px; color: #b0b8c9">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เริ่มจากการฟอร์มวงของสามหนุ่มที่มีความรักในเสียงดนตรี โดยอีนนนักร้องนำคือหัวหอกทีมีเซนส์ด้านดนตรี
            แต่ไรความรู้ด้านทฤษฎีโดยสิ้นเชิงแต่ยังอาศัยเซนส์ที่มีในการสร้างผลงานเพลงจนออกมาเป็นเพลงนิศากรและอยากรอ
          </p>
          <br />
          <p style="font-size: 24px; text-align: center; color: #4b7ce5">
            "โลกเปลี่ยนไปทุกวัน เราจึงต้องวิ่งตามให้ทันด้วยขาของเราเอง"
          </p>
          <!-- artist-social -->
          <div class="artist-social" style="text-align: left">
            <a href="#">
              <img
                src="/img/icon/facebook.png"
                alt=""
                width="20px"
                height="20px"
              /> </a
            >&nbsp;&nbsp;

            <a href="#">
              <img
                src="/img/icon/twitter.png"
                alt=""
                width="20px"
                height="20px"
              /> </a
            >&nbsp;&nbsp;

            <a href="#">
              <img
                src="/img/icon/instagram.png"
                alt=""
                width="20px"
                height="20px"
              />
            </a>
          </div>
          <!-- end artist-social -->
        </div>
        <div class="col-sm-5" style="text-align: center">
          <img
            src="/img/cae78ab364eec014ac10198a1eac5e6ae_28699789_201213.jpg"
            width="300"
            height="300"
            alt=""
            class="rounded-circle"
          />
        </div>
      </div>
      <div class="col-12"><br /><br /><br /></div>

      <!-- Artist 3 -->
      <div class="row">
        <div class="col-sm-5" style="text-align: center">
          <img
            src="/img/cae78ab364eec014ac10198a1eac5e6ae_31275193_201213.jpg"
            width="300"
            height="300"
            alt=""
            class="rounded-circle"
          />
        </div>
        <div class="col-sm-7 my-auto" style="text-align: start">
          <h2>XIIM</h2>
          <p style="font-size: 20px; color: #b0b8c9">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ศิลปินที่ไม่ได้มีความตั้งใจที่จะเป็นศิลปินแต่อย่างใด ทว่าในตัวเขามีมุมมองเกี่ยวกับชีวิตที่น่าสนใจ
             พร้อมทั้งมีเสียงร้องที่อบอุ่นเหมือนกับแสงอาทิตย์
          </p>
          <br />
          <p style="font-size: 24px; text-align: center; color: #4b7ce5">
            "หากวันที่ไม่เหลือใคร ให้รักตัวเอง"
          </p>
          <!-- artist-social -->
          <div class="artist-social" style="text-align: right">
            <a href="#">
              <img
                src="/img/icon/facebook.png"
                alt=""
                width="20px"
                height="20px"
              /> </a
            >&nbsp;&nbsp;

            <a href="#">
              <img
                src="/img/icon/twitter.png"
                alt=""
                width="20px"
                height="20px"
              /> </a
            >&nbsp;&nbsp;

            <a href="#">
              <img
                src="/img/icon/instagram.png"
                alt=""
                width="20px"
                height="20px"
              />
            </a>
          </div>
          <!-- end artist-social -->
        </div>
      </div>
    </div>
    <div class="col-12"><br /><br /><br /></div>

    <!--Footer-->
    <div class="footer">
      <div class="createrName">
        @2023 By Mo And Stang
      </div>
      <div class="item-foot">
        <a href="#" target="_blank">
          <i class="fab fa-2x fa-spotify"></i>
        </a>

        <a
          href="https://www.facebook.com/Amelialabel.official/"
          target="_blank"
        >
          <i class="fab fa-2x fa-facebook"></i>
        </a>
        <a href="https://twitter.com/amelialabel" target="_blank">
          <i class="fab fa-2x fa-twitter"></i>
        </a>

        <a
          href="https://www.youtube.com/c/AmeliaLabel/featured"
          target="_blank"
        >
          <i class="fab fa-2x fa-youtube"></i>
        </a>

        <a href="https://www.instagram.com/amelia.label/" target="_blank">
          <i class="fab fa-2x fa-instagram"></i>
        </a>
      </div>
    </div>
    <!--End Footer-->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
