<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>

    <link rel="stylesheet" href="/css/Home.css" />
    <script src="index.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!--set up fancybox-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  </head>
  <style>
    body {
      background-color: #202125;
    }

  </style>
  <body>
    <!--NavBar-->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="home.html">
          <img
            src="/img/logo/amelia_logo.png"
            width="120px"
            height="80px"
            class="d-inline-block align-top"
            alt="logo"
            loading="lazy"
          />
        </a>

        <div class="right">
          <a class="nav-link" href="home">Home</a>
          <a class="nav-link" href="artist">Artist</a>
          <a class="nav-link" href="gallery">Gallary</a>
          <a class="nav-link" href="store">Store</a>
        </div>
      </div>
    </nav>
    <!--End NavBar-->

    <!--Gallery-->
    <div><br /></div>
    <header>
      <h1>GALLERY</h1>
    </header>

    <!--Photo-->
    <div class="gallery-image">
      <!--Photo 6-years-->
      <div class="img-box">
        <img src="/img/gallery/6-years/jacky poster.png" alt="6-years" />
        <div class="transparent-box">
          <p>
            <a
              href="/img/gallery/6-years/jacky poster.png"
              data-fancybox="images-preview"
              data-caption="Poster - 6 Years"
              data-width="1700"
              data-height="2400"
              data-thumbs='{"autoStart":true}'
            >
              <img src="/img/gallery/6-years/jacky poster.png" alt="6-years" />
            </a>
          </p>

          <!--Photo 6-years hide-->
          <div style="display: none">
            <a
              href="/img/gallery/6-years/non poster.png"
              data-fancybox="images-preview"
              data-width="1700"
              data-height="2400"
            >
              <div>
                <img
                  src="/img/gallery/6-years/non poster.png"
                  data-thumb="/img/gallery/6-years/non poster.png"
                  alt="6-years"
                />
              </div>
            </a>

            <a
              href="/img/gallery/6-years/pevk poster.png"
              data-fancybox="images-preview"
              data-width="1700"
              data-height="2400"
            >
              <div>
                <img
                  src="/img/gallery/6-years/pevk poster.png"
                  data-thumb="/img/gallery/6-years/pevk poster.png"
                  alt="6-years"
                />
              </div>
            </a>
          </div>
          <!--End Photo 6-years hide-->

          <div class="caption">
            <p>Poster</p>
            <p class="opacity-low" style="color: black">6 Years</p>
          </div>
        </div>
      </div>
      <!--End Photo 6-years-->

      <!--Photo nisakorn-->
      <div class="img-box">
        <img
          src="/img/gallery/nisakporn/nisakorn 1080.png minimal.png"
          alt="nisakorn"
        />
        <div class="transparent-box">
          <p>
            <a
              href="/img/gallery/nisakporn/nisakorn 1080.png minimal.png"
              data-fancybox="images-preview"
              data-caption="Poster - Nisakorn"
              data-width="1500"
              data-height="1000"
              data-thumbs='{"autoStart":true}'
            >
              <img
                src="/img/gallery/nisakporn/nisakorn 1080.png minimal.png"
                alt="nisakorn"
              />
            </a>
          </p>

          <!--Photo nisakorn hide-->
          <div style="display: none">
            <a
              href="/img/gallery/nisakporn/nisakorn.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/nisakporn/nisakorn.png"
                  data-thumb="/img/gallery/nisakporn/nisakorn.png"
                  alt="nisakorn"
                />
              </div>
            </a>

            <a
              href="/img/gallery/nisakporn/เนื้อเพลง3.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/nisakporn/เนื้อเพลง3.png"
                  data-thumb="/img/gallery/nisakporn/เนื้อเพลง3.png"
                  alt="nisakorn"
                />
              </div>
            </a>
          </div>
          <!-- End Photo nisakorn hide-->

          <div class="caption">
            <p>Poster</p>
            <p class="opacity-low">Nisakorn</p>
          </div>
        </div>
      </div>
      <!--End Photo nisakorn-->

      <!--Photo Youtube-->
      <div class="img-box">
        <img src="/img/gallery/youtube/youtube teaser 1.png" alt="youtube" />
        <div class="transparent-box">
          <p>
            <a
              href="/img/gallery/youtube/youtube teaser 1.png"
              data-fancybox="images-preview"
              data-caption="Poster - Youtube"
              data-width="1500"
              data-height="1000"
              data-thumbs='{"autoStart":true}'
            >
              <img
                src="/img/gallery/youtube/youtube teaser 1.png"
                alt="youtube"
              />
            </a>
          </p>

          <!--Photo Youtube hide-->
          <div style="display: none">
            <a
              href="/img/gallery/youtube/youtube teaser 2.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/youtube/youtube teaser 2.png"
                  data-thumb="/img/gallery/youtube/youtube teaser 2.png"
                  alt="youtube"
                />
              </div>
            </a>

            <a
              href="/img/gallery/youtube/youtube teaser 3.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/youtube/youtube teaser 3.png"
                  data-thumb="/img/gallery/youtube/youtube teaser 3.png"
                  alt="youtube"
                />
              </div>
            </a>

            <a
              href="/img/gallery/youtube/youtube BTS.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/youtube/youtube BTS.png"
                  data-thumb="/img/gallery/youtube/youtube BTS.png"
                  alt="youtube"
                />
              </div>
            </a>

            <a
              href="/img/gallery/youtube/youtube content.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/youtube//youtube content.png"
                  data-thumb="/img/gallery/youtube/youtube content.png"
                  alt="youtube"
                />
              </div>
            </a>

            <a
              href="/img/gallery/youtube/youtube MV.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/youtube/youtube MV.png"
                  data-thumb="/img/gallery/youtube/youtube MV.png"
                  alt="youtube"
                />
              </div>
            </a>
          </div>
          <!--End Photo Youtube hide-->

          <div class="caption">
            <p>Poster</p>
            <p class="opacity-low">Youtube</p>
          </div>
        </div>
      </div>
      <!--End Photo Youtube-->

      <!--Photo เจ็บตรงที่-->
      <div class="img-box">
        <img
          src="/img/gallery/เจ็บตรงที่/poster 4 no logo.png"
          alt="เจ็บตรงที่"
        />
        <div class="transparent-box">
          <p>
            <a
              href="/img/gallery/เจ็บตรงที่/poster 4 no logo.png"
              data-fancybox="images-preview"
              data-caption="Poster - เจ็บตรงที่"
              data-width="1700"
              data-height="2400"
              data-thumbs='{"autoStart":true}'
            >
              <img
                src="/img/gallery/เจ็บตรงที่/poster 4 no logo.png"
                alt="เจ็บตรงที่"
              />
            </a>
          </p>

          <!--Photo เจ็บตรงที่ hide-->
          <div style="display: none">
            <a
              href="/img/gallery/เจ็บตรงที่/poster 4.2.png"
              data-fancybox="images-preview"
              data-width="1700"
              data-height="2400"
            >
              <div>
                <img
                  src="/img/gallery/เจ็บตรงที่/poster 4.2.png"
                  data-thumb="/img/gallery/เจ็บตรงที่/poster 4.2.png"
                  alt="เจ็บตรงที่"
                />
              </div>
            </a>

            <a
              href="/img/gallery/เจ็บตรงที่/poster 4.png"
              data-fancybox="images-preview"
              data-width="1700"
              data-height="2400"
            >
              <div>
                <img
                  src="/img/gallery/เจ็บตรงที่/poster 4.png"
                  data-thumb="/img/gallery/เจ็บตรงที่/poster 4.png"
                  alt="เจ็บตรงที่"
                />
              </div>
            </a>
          </div>
          <!--End Photo เจ็บตรงที่ hide-->

          <div class="caption">
            <p>Poster</p>
            <p class="opacity-low" style="color: black">เจ็บตรงที่</p>
          </div>
        </div>
      </div>
      <!--End Photo เจ็บตรงที่-->

      <!--Photo ในนามของความเหงา-->
      <div class="img-box">
        <img
          src="/img/gallery/ในนามของความเหงา/1080.png"
          alt="ในนามของความเหงา"
        />
        <div class="transparent-box">
          <p>
            <a
              href="/img/gallery/ในนามของความเหงา/1080.png"
              data-fancybox="images-preview"
              data-caption="Poster - ในนามของความเหงา"
              data-width="1500"
              data-height="1000"
              data-thumbs='{"autoStart":true}'
            >
              <img
                src="/img/gallery/ในนามของความเหงา/1080.png"
                alt="ในนามของความเหงา"
              />
            </a>
          </p>

          <!--Photo ในนามของความเหงา hide-->
          <div style="display: none">
            <a
              href="/img/gallery/ในนามของความเหงา/กิจกรรม.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/ในนามของความเหงา/กิจกรรม.png"
                  data-thumb="/img/gallery/ในนามของความเหงา/กิจกรรม.png"
                  alt="ในนามของความเหงา"
                />
              </div>
            </a>

            <a
              href="/img/gallery/ในนามของความเหงา/ปก 2.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/ในนามของความเหงา/ปก 2.png"
                  data-thumb="/img/gallery/ในนามของความเหงา/ปก 2.png"
                  alt="ในนามของความเหงา"
                />
              </div>
            </a>

            <a
              href="/img/gallery/ในนามของความเหงา/ปก.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/ในนามของความเหงา/ปก.png"
                  data-thumb="/img/gallery/ในนามของความเหงา/ปก.png"
                  alt="ในนามของความเหงา"
                />
              </div>
            </a>
          </div>
          <!--End Photo ในนามของความเหงา hide-->

          <div class="caption">
            <p>Poster</p>
            <p class="opacity-low" style="color: black">ในนามของความเหงา</p>
          </div>
        </div>
      </div>
      <!--End Photo ในนามของความเหงา-->

      <!--Photo อยากรอ-->
      <div class="img-box">
        <img src="/img/gallery/อยากรอ/อยากรอ 1080.png" alt="อยากรอ" />
        <div class="transparent-box">
          <p>
            <a
              href="/img/gallery/อยากรอ/อยากรอ 1080.png"
              data-fancybox="images-preview"
              data-caption="Poster - อยากรอ"
              data-width="1500"
              data-height="1000"
              data-thumbs='{"autoStart":true}'
            >
              <img src="/img/gallery/อยากรอ/อยากรอ 1080.png" alt="อยากรอ" />
            </a>
          </p>

          <!--Photo ในนามของความเหงา hide-->
          <div style="display: none">
            <a
              href="/img/gallery/อยากรอ/อยากรอ.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/อยากรอ/อยากรอ.png"
                  data-thumb="/img/gallery/อยากรอ/อยากรอ.png"
                  alt="อยากรอ"
                />
              </div>
            </a>

            <a
              href="/img/gallery/อยากรอ/เนื้อเพลง.png"
              data-fancybox="images-preview"
              data-width="1500"
              data-height="1000"
            >
              <div>
                <img
                  src="/img/gallery/อยากรอ/เนื้อเพลง.png"
                  data-thumb="/img/gallery/อยากรอ/เนื้อเพลง.png"
                  alt="อยากรอ"
                />
              </div>
            </a>
          </div>
          <!--End Photo อยากรอ hide-->

          <div class="caption">
            <p>Poster</p>
            <p class="opacity-low" style="color: black">อยากรอ</p>
          </div>
        </div>
      </div>
      <!--End Photo อยากรอ-->
    </div>
    <br />
    <!--End Gallery-->

    <!--Footer-->
    <div class="footer">
      <div class="createrName">
        @2023 By Mo And Stang
      </div>
      <div class="item-foot">
        <a href="#" target="_blank">
          <i class="fab fa-2x fa-spotify"></i>
        </a>

        <a
          href="https://www.facebook.com/Amelialabel.official/"
          target="_blank"
        >
          <i class="fab fa-2x fa-facebook"></i>
        </a>
        <a href="https://twitter.com/amelialabel" target="_blank">
          <i class="fab fa-2x fa-twitter"></i>
        </a>

        <a
          href="https://www.youtube.com/c/AmeliaLabel/featured"
          target="_blank"
        >
          <i class="fab fa-2x fa-youtube"></i>
        </a>

        <a href="https://www.instagram.com/amelia.label/" target="_blank">
          <i class="fab fa-2x fa-instagram"></i>
        </a>
      </div>
    </div>
    <!--End Footer-->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
